.cardDesign {
    min-width: 20%;
    
    margin: 20px auto;
    background-color: aliceblue;
}
.divider{
  width:10px;
  height:auto;
  display:inline-block;
}
.centerSingleComponent{
  margin: 20px;
  display: flex;
  justify-content: center;
}
.errMsg{
  color:red;
}
.full-width {
  width: 100%;
}
.half-width{
  width: 48%;
}
.errMsg{
  color:red;
}
