<app-menu></app-menu>
<div class="backgroundPicture"fxLayoutAlign="center center" fxFlexFill >
   
    <mat-card clas="cardDesign">
        <mat-card-title class="centerSingleComponent">
            Change password
        </mat-card-title>
        <mat-card-content>
            <hr>
            <div class="centerSingleComponent">
                <mat-form-field class="full-width">
                    <mat-label>Enter old password</mat-label>
                    <input matInput required [type]="hideOld ? 'password' : 'text'"[(ngModel)]="oldPassword">
                    <button mat-icon-button matSuffix (click)="hideOld = !hideOld" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOld">
                    <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="full-width">
                    <mat-label>Enter new password</mat-label>
                    <input matInput required [type]="hideNew ? 'password' : 'text'"[(ngModel)]="newPassword">
                    <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew">
                    <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <div class="divider"></div>
                <mat-form-field class="full-width">
                    <mat-label>Repeat old password</mat-label>
                    <input matInput required [type]="hideRepeat ? 'password' : 'text'"[(ngModel)]="passwordRepeat">
                    <button mat-icon-button matSuffix (click)="hideRepeat = !hideRepeat" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepeat">
                    <mat-icon>{{hideRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                
            </div>
            <div class="errMsg centerSingleComponent">
                {{msg}}
            </div>
            <div class="centerSingleComponent">
                <button mat-raised-button (click)="changePassword()">Change password</button>
            </div>
        </mat-card-content>  
    </mat-card>
</div>